*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
}
body{
    background-color: #F2F2F2;
}
header{
    padding-top: 42px;
    padding-bottom: 30px;
}
#logo{
    max-width: 48px;
    max-height: 48px;
}
.container{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0 120px;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.navbar-ul{
    display: flex;
    gap: 20px;
    width: 370px;
    height: 22px;
    justify-content: space-between;
}
.navbar-ul a{
    color: #000000E5;
    position: relative;
}
.font-family{
    font-family: "Poppins", sans-serif;
}
.font{
    font-size: 14px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
.header-div{
    align-items: center;
    justify-content: space-between;
    max-width: 1920px;
    height: 70px;
}
.button-h{
    border: none;
    background-color: #29B24E;
    padding: 13px 26px;
    border-radius: 12px;
    gap: 10px;
    color: #FFFFFF;
    transition: all 0.2s 0.2s;
    font-weight: 400;
}
.button-h:hover{
    font-size: 20px;
}
.navbar-ul a::before{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #29B24E;
    transition: all 0.5s; 
}
.navbar-ul a:hover::before{
    width: 100%;
}
.search-frame{
    max-width: 18px;
    width: 100%;
    position: absolute;
    top: 245px;
    left: 745px;
}
.main-img{
    max-width: 1225px;
    width: 100%;
    border-radius: 25px;
}
.section2 h1{
    font-size: 47px;
    max-width: 749px;
    width: 100%;
    position: absolute;
    top: 80px;
    left: 250px;
}
.section2 h2{
    font-size: 16px;
    opacity: 80%;
    font-weight: 400;
    max-width: 336px;
    width: 100%;
    position: absolute;
    top: 160px;
    left: 455px;
}
.section2-div{
    position: relative;
}
.section1{
    background-color: #F8F8F8;
    max-width: 395px;
    width: 100%;
    border-radius: 24px;
    padding: 30px;
}
.section1 h1{
    font-weight: 400;
    padding-bottom: 10px;
}
.article{
    justify-content: space-between;
}
.check{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
}
input[type="checkbox"] {
    accent-color: #29B24E;
}
label{
    font-size: 14px;
    font-weight: 400;
}
label span{
    opacity: 80%;
}
.padding-b{
    padding-bottom: 20px;
}
select{
    max-width: 331px;
    height: 48px;
    width: 100%;
    border-radius: 10px;
    background-color: #F8F8F8;
    border: 1px solid #0D9CA436;
    margin-bottom: 20px;
}
option{
    font-size: 14px;
    font-weight: 400;
}
select{
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
}
input[type="search"] {
    max-width: 324px;
    height: 48px;
    width: 100%;
    border-radius: 10px;
    background-color: #F8F8F8;
    opacity: 80%;
    border: none;
    padding: 20px;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    top: 230px;
    left: 460px;
}
.section3{
    margin-top: 30px;
    width: 100%;
}
.section3-div{
    max-width: 395px;
    width: 100%;
    height: 424px;
    border-radius: 14px;
    background-color: #F8F8F8;
    padding: 15px;
    position: relative;
    margin-bottom: 20px;
}
.img{
    max-width: 363px;
    height: 202px;
    border-radius: 20px;
    width: 100%;
}
.frame{
    width: 50px;
    position: absolute;
    top: 195px;
    left: 322px;
}
.frame-div img{
    padding: 15px;
    background-color: white;
    border-radius: 50px;
}
.title {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    border-radius: 15px;
    background-color: #29B24E;
    max-width: 76px;
    width: 100%;
    height: 30px;
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: center;
    padding-top: 6px;
}
.section3-div h2{
   font-size: 16px;
   line-height: 24px;
   font-weight: 500;
   max-width: 304px;
   width: 100%;
   margin-top: 10px;
}
.section3-div h3{
    font-size: 14px;
    font-weight: 400;
    opacity: 50%;
    line-height: 21px;
}
.section3-div h4{
    font-size: 24px;
    font-weight: 500;
    text-align: right;
    line-height: 36px;
    color: #29B24E;
    margin-top: 30px;
}
.section3-div span{
    color: black;
    font-size: 15px;
    font-weight: 400;
}
.flex-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.zoli{
    background-color: #CFEAD6;
    max-width: 395px;
    height: 1px;
    border-radius: 2px;
    margin-top: 20px;
}
.desc{
    height: 55px;
    align-items: center;
    justify-content: space-around;
}
.desc h1{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
footer{
    background-color: #29B24E;
    height: 179px;
    border-radius: 20px;
    padding-top: 30px;
}
.footer-f{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer-f li, .mail h1{
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
.zoli2{
    max-width: 1640px;
    width: 100%;
    height: 1px;
    border-radius: 40px;
    background-color: #D0D0D0;
    margin-top: 40px;
}
.last h1{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #FFFFFF;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.section3-title{
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    margin: 20px 0;
}
.buttons{
    display: none;
}
@media(max-width:768px){
    nav, .button-div, .section2-div input, .mail{
        display: none;
    }
    .container{
        padding: 0 10px;
        max-width: 768px;
        width: 100%;
    }
    .article{
        display: flex;
        flex-direction: column-reverse;
    }
    .main-img{
        max-width: 335px;
        height: 435px;
        width: 100%;
        margin-left: 10px;
    }
    .section2-div h1{
        max-width: 241px;
        width: 100%;
        font-size: 24px;
        line-height: 36px;
        top: 50px;
        left: 50px;
        text-align: center;
    }
    .section2 h2{
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        top: 120px;
        left: 30px;
    }
    .frame{
        top: 190px;
        left: 280px;
    }
    .section3-div h2{
        margin-top: 20px;
    }
    footer{
        max-width: 375px;
        width: 100%;
        height: 326px;
        margin: 50px 0;
        margin-bottom: 100px;
    }
    .search-frame{
        top: 12px;
        left: 12px;
    }
    .frame-back{
        width: 44px;
        height: 44px;
        border-radius: 24px;
        background-color: #F8F8F8;
        top: -90px;
        left: 305px;
        position: absolute;
    }
    #logo{
        margin-left: 10px;
    }
    .zoli2{
        margin-top: 1px;
    }
    .li-row, .li-row2{
        height: 30px;
        display: flex;
        flex-direction: column;
    }
    .li-row2{
        align-items: end;
    }
    .row{
        display: flex;
        flex-direction: row;
        width: 175px;
        height: 205px;
    }
    .buttons{
        display: block;
        background-color: #FFFFFF;
        border-radius: 24px 24px 0 0;
        width: 375px;
        height: 72px;
        padding: 20px;
        position: fixed;
        width: 100%;
        z-index: 1;
        bottom: 0;
    }
    .gilaki{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .gilaki img{
        width: 24px;
        height: 24px;
        opacity: 90%;
    }
    .gilaki h1{
        font-size: 11px;
        font-weight: 500;
    }
    .gilaki-f{
        display: flex;
        justify-content: space-evenly;
    }
    .isari-bg{
        background-color: #29B24E;
        border-radius: 12px;
        width: 56px;
        height: 56px;
        position: absolute;
        top: -30px;
        padding: 16px;
    }
    .gilaki-t{
        position: absolute;
        top: 30px;
    }
}